<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{food}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button defaultHref="home" text="Food Picker"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <ion-list style="text-align:center" class="button-container">
      <ion-button expand="block" fill="clear" color="transparent" class="detail-button-text" (click)="onEditClick()">
        Edit
      </ion-button>
      <ion-button expand="block" fill="clear" color="transparent" style="color: red;" class="detail-button-text" (click)="onDeleteClick()">
        Delete
      </ion-button>
    </ion-list>
  </ng-container>
</ion-content>
