<ion-header no-border>
  <ion-toolbar>
    <ion-title>Food Picker</ion-title>
      <ion-buttons slot="primary">
        <ion-button fill="clear" icon-only (click)="onClickButton()">
          <ion-icon slot="end" name="play"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button fill="clear" icon-only (click)="onClickButton()">
          <ion-icon slot="end" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="ion-padding">
      <strong>{{ text }}</strong>
    </div>

    <ion-list>
      <ion-item *ngFor="let food of foods" (click)="onFoodClick(food)">
        {{ food }}
      </ion-item>
    </ion-list>

</ion-content>
